export VAULT_PW=password
export VAULT_ADDR=http://localhost:8200
export BOUNDARY_ADDR=https://096d153a-6ebc-4ed7-bfc7-46c6afaa8309.boundary.hashicorp.cloud
export BOUNDARY_AUTH_METHOD_ID=ampw_d9utajTh4I
export FRONTEND_TARGET_ID=ttcp_6aidyXZwJ3
export BACKEND_TARGET_ID=ttcp_rTcV4nGeMM
export POSTGRES_ADDR=localhost
export POSTGRES_PASSWORD=postgres
export TERRAFORM_VAULT_USERNAME=admin
export TERRAFORM_VAULT_PASSWORD=password